<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load static %}
<html lang="es"> 
    <head>
        {% comment %} <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}"> {% endcomment %}
        {% block title %}
            <link rel="stylesheet" type="text/css" href="{% static 'app/css/login.css' %}">
            <title>Login</title>
        {% endblock %}
      </head>
    {% block content %}
    <h1 class="header">
        Login
    </h1>
        <div class="login-form">
            <label for="fname" class="label">
                Username:
            </label>
            <input class="input" type="text" name="fname" placeholder="username">
            <label for="lname" class="label">
                Password:
            </label>
            <input class="input" type="password" name="lname" placeholder="password">
            <button class="button" type="button">Log In</button>     
        </div>
    {% endblock  %}
</html>